<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <header>
        <h1>홈페이지</h1>
        <section>
            <ul>
                <li>{% if session %} {{session.user_id}} <a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
                <li>{% if session %} <a href="/mypage">나의 페이지</a> {% else %}<a href="/signin">회원가입</a> {% endif %}</li>
            </ul>
        </section>
    </header>
    <section>
        <div>
            {% for event in events %}
            <ul>
                <li>
                    <table>
                        <tr>
                            <td>
                                <img src="{{ url_for('get_image', event_id=event.no) }}" alt="이벤트 이미지" style="max-width: 300px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{event.eventName}}
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            {% endfor %}
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>