<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>
<body>
    <header>
        <!-- 헤더 -->
        <h1 class='home'><a href="/">개발의 민족</a></h1>
        <section class="headerLeft">
            <div>
                <form action="searchEvent" method="POST">
                    <input type="text" id="searchEventName" name="searchEventName">
                    <button type="submit">검색</button>
                </form>
            </div>
            <div>
                <ul>
                    <li>{% if session.user_id == 'admit' %} <a href='/upload'>행사 일정 업로드</a>{% else %}{% endif %}</li>
                    <li>{% if session %} {{session.user_id}}님 &nbsp;&nbsp;<a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
                    <li>{% if session %} <a href="/mypage">나의 페이지</a> {% else %}<a href="/signup">회원가입</a> {% endif %}</li>
                </ul>
            </div>
        </section>
    </header>


    <section class="slider-container">
        <button class="prev">❮</button>
        <div class="slider-wrapper">
            <div class="slider">
                {% for event in events %}
                <div class="eventItem">
                    <a href="/detail/{{ event.no }}">
                        <img src="{{ url_for('static', filename='pic/' + event.image) }}" class="eventImage" alt="{{ event.eventName }}">
                    </a>
                    <p><a href="/detail/{{ event.no }}">{{ event.eventName }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="next">❯</button>
    </section>

    <div class="box"></div>
    
    <script src="/static/js/home.js"></script>
</body>
</html>