<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/calendar.css">
  <title>마이 페이지</title>
</head>
<body>
  <header>
      <h1>마이 페이지 대문</h1>
  </header>

  <section>
      <div class="calendar-container">
          <div class="calendar-header">
            <button id="prevBtn">이전</button>
            <h2 id="currentMonth"></h2>
            <button id="nextBtn">다음</button>
          </div>
          <div class="calendar-days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <div class="calendar-dates" id="calendarDates"></div>
      </div>
      <div class="detail-container">
        
        <img id="detailImage" src="/static/pic/placeholder.png" alt="행사 사진" style="width:100%; max-height:200px; object-fit:cover;">
        <h2 id="detailEventName">행사 제목</h2>
        <p id="detailLocation">행사 위치</p>
        <p id="detailExplain">행사 설명</p>
      </div>
      
  </section>

  

  <script>
    const myEvents = JSON.parse(`{{ events | tojson | safe }}`);
    // 달력을 렌더링한 후 이벤트들을 달력에 표시
    renderCalendar();
    setDate();
    myEvents.sort((a, b) => new Date(a.startDate) - new Date(b.startDate));
    myEvents.forEach(event => {
      setDate(event.startDate, event.endDate, event.eventName, event.location, event.explain, event.image);
    });
  </script>
  <script src="/static/js/calendar.js"></script>
  
</body>
</html>