<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/calendar.css">
    <title>마이 페이지</title>
</head>
<body>
  <header>
    <h1><a href="/">홈페이지</a></h1>
    <section>
        <ul>
            <li>{% if session %} {{session.user_id}} <a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
            <li>{% if session %} <a href="/mypage">나의 페이지</a> {% else %}<a href="/signin">회원가입</a> {% endif %}</li>
        </ul>
    </section>
  </header>

    <section>
        <div class="calendar-container">
            <div class="calendar-header">
              <button id="prevBtn">이전</button><!--이전 월로 넘기기 -->
              <h2 id="currentMonth"></h2> <!--년도 월 출력 -->
              <button id="nextBtn">다음</button> <!--다음 월로 넘기기 -->
            </div>
            <div class="calendar-days">  <!-- 요일 생성 -->
              <div class="day">일</div>
              <div class="day">월</div>
              <div class="day">화</div>
              <div class="day">수</div>
              <div class="day">목</div>
              <div class="day">금</div>
              <div class="day">토</div>
            </div>
            <div class="calendar-dates" id="calendarDates"></div> <!--년도 월에 맞는 날자 js 파일에서 불러옴 -->
        </div>
        <div class="detail-container">    <!--행사 이미지 정보 들어갈 곳 -->
          <h2>행사 제목</h2>
          <img src="#" alt="행사 사진">
          <h3>행사 정보</h3>

        </div>
          <script src="/static/js/calendar.js"></script>
    </section>
    
</body>
</html>