<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/signin.css">
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
</head>
<body>
    <header>
        <h1 class="home"><a href="/">개발의 민족</a></h1>
    </header>
    
    <!--<iframe style="height: 500px;" class="background-frame" src="/static/slideshow.html"></iframe>-->

    <!--<div class="box"></div>-->
    
    <div class="container">
        <h2 class="login">로그인</h2>
        <ul class="menu">
            <li class="menu1">{% if session.user_id == 'admit' %} <a href='/upload'>행사 일정 업로드</a>{% else %}{% endif %}</li>
            <li class="menu2"><a href="/signup">회원가입</a></li>
        </ul>
        <form action="/loginTry" id="loginForm" method="POST">
            <input type="text" id="id" name="id" placeholder="&nbsp;아이디">
            <br>
            <input type="password" id="password" name="password" placeholder="&nbsp;비밀번호">
            <input type="submit" id="button" value="로그인">
        </form>
    </div>
    {% if message %}
    <script>
        showAlert("{{ message}}");
    </script>
    {% endif %}
    <footer>

    </footer>

    
</body>

</html>