<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css"></link>
    <title>회원가입</title>
</head>
<body>
    <header>
        <h1 class="home"><a href="/">개발의 민족</a></h1>
        <section>
            <ul class="menu">
                <li class="menu2">{% if session.user_id == 'admit' %} <a href='/upload'>행사 일정 업로드</a>{% else %}{% endif %}</li>
                <li class="menu3">{% if session %} {{session.user_id}} <a href='/logout'>로그아웃</a> {% else %}<a href="/login">로그인</a> {% endif %} </li>
                <li class="menu4">{% if session %} <a href="/mypage">나의 페이지</a> {% else %}{% endif %}</li>
            </ul>
        </section>
    </header>
    <div class="container">
        <h2 class="signup">회원가입</h2> 
        
        <form action="/signupTry" id="signupForm" method="post">

            <input type="text" id="name" name="signupUsername"placeholder="이름">
           

            <div class="id-container">
                <input type="text" id="id" name="signupUserid" placeholder="아이디">
                <button type="button" id="overlap">증복 확인</button>
            </div>
            
            <input type="password" id="password" name="signupPassword" placeholder="비밀번호">
            <input type="text" id="email" name="signupUseremail" placeholder="이메일">
            <button type="submit">회원가입</button>
        </form>
    </div>
    <footer>

    </footer> 
</body>
<script src="/static/js/signup.js"></script>
</html>